################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RN-LayoutManager/v15/Server/sqlite3/db.lock
/.vs/RN-LayoutManager/FileContentIndex/f9ef59d9-801b-4153-adc5-0190cf49b61d.vsidx
/.vs/RN-LayoutManager/FileContentIndex/cc9d352e-4b36-440d-bf07-cc0a26d31eb4.vsidx
